* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: hsl(213, 43%, 85%);
}

html,
body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
}

.container {
  max-width: min(90%, 24rem);
}

.QR-container {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: white;
}

.QR-container img {
  width: 100%;
  border-radius: 0.75rem;
}

.QR-container h1 {
  margin-block: 1rem;
}

.QR-container p {
  color: gray;
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  padding: 1.25rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
